<h2>///////////////////////////  AES  ///////////////////////////</h2>
<div>

  <form name ="postcaso" (ngSubmit)= "postCaso($event)">
    <div>
        <label>Nombre:
        <input type="text" name="nameaes" placeholder="Nombre" [(ngModel)]="nameaes">  
        </label>
      
        <button type ="submit">Submit</button>
    </div>
  </form>

  
  <div>
    <button (click)="getSentence(); deleteSentence()">Mostrar FRASE del servidor con AES</button>
    <h3>{{resultStr}} </h3>
  </div>
  
</div>

<h2>///////////////////////////  RSA  ///////////////////////////</h2>
<div>
  <form name ="postcasoRSA" (ngSubmit)= "postCasorsa()">
    <div>
        <label>Encriptar:
        <input type="text" name="name" placeholder="Nombre" [(ngModel)]="name">  
        </label>

        <button type ="submit">Submit</button>
      </div>
      <h3>{{decrypted}} </h3>
  </form>

  <div>
    <button (click)="getSentencersa()">Mostrar FRASE del servidor con RSA</button>
    <h3>{{decrypsen}} </h3>
  </div>


  <form name ="signRSA" (ngSubmit)= "signMsgrsa()">
    <div>
      <label>Firmar:
      <input type="text" name="signRSA" placeholder="signRSA" [(ngModel)]="name">  
      </label>
    
      <button type ="submit">Firmar RSA</button>
    </div>
    <h3>{{verifiedRSA}} </h3>
  </form>
</div>

<h2>///////////////////////////  FIRMA CIEGA  ///////////////////////////</h2>
<div>
  <form name ="signCiega" (ngSubmit)= "signMsgciega()">
    <div>
      <label>Firmar:
      <input type="text" name="signFirmaCiega" placeholder="signFirmaCiega" [(ngModel)]="sign">  
      </label>

      <button type ="submit">Firmar Ciega</button>
    </div>
    <h3>{{verifiedCiega}} </h3>
  </form>
</div>

<h2>///////////////////////////  NON REPUDIATION  ///////////////////////////</h2>
<div>
  <form name ="No repudio" (ngSubmit)= "noRepudio()">
    <div>
      <label>Nonrepudiation:
      <input type="text" name="norepudio" placeholder="textnonrepudiation" [(ngModel)]="textnonrepudiation">  
      </label>

      <button type ="submit">Nonrepudiation</button>
    </div>
    <h3>{{resultadononrepudiation}} </h3>
  </form>
</div>

<h2>///////////////////////////   PAILLIER (homomorphic encryption)  ///////////////////////////</h2>
<div>
        <button (click)="postPaillier()">Suma de 10 + 5</button>
        <h3>{{sum}} </h3>

<h2>///////////////////////////   SECRET SHARING  ///////////////////////////</h2>
<div>
        <button (click)="postsecretSharing()"> Secret sharing: shares = 7 threshold = 4</button>
        <h3>{{secretsharingtext}} </h3>

</div>
